
:root{
--primary: #1890ff;
}
body{ margin:0; font-family: Inter, system-ui, Helvetica, Arial; background:#f6f8fa }
a { color: inherit }
.ant-layout-header{ position: fixed; z-index: 10; width: 100%; padding: 0 }
.ant-layout-content{ margin-top: 88px }